@import '../../../styles/variables/variables';

$top-button-size: 3rem;

.top-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: $top-button-size;
  height: $top-button-size;
  border-radius: calc($top-button-size / 2);
  display: flex;
  border: light-gray-border();
  justify-content: center;
  align-items: center;
  background-color: white;
  @include shadow();
  cursor: pointer;
  .top-button__icon {
    font-size: 2rem;
  }
}

@include mobile {
  .top-button {
    bottom: 2.5rem;
    right: 2.5rem;
  }
}
