@import '../../../styles/variables/variables';

.logo {
  display: inline-block;
  .logo__text {
    @include font-size('large');
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
  }
}
