@import '../../../styles/variables/variables';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: padding-vertical('large') 0;
  .loader__image {
    width: 40%;
  }
}
