.social-link {
  .card-container {
    background-color: white;
    .card-container__card--default {
      font-weight: bold;
      .social-link__icon {
        position: absolute;
        height: 80%;
        opacity: 0.2;
      }
    }
  }
}
