@import '../../../styles/variables/variables';

.project-filterer {
  &:not(:last-child) {
    margin-right: column-gap();
  }
  .project-filterer__button {
    @include font-size();
    font-weight: bold;
    text-transform: capitalize;
    color: $light-gray;
    &.selected {
      color: gray;
    }
  }
}
