@import '../../../styles/variables/variables';

.project-filterer {
  opacity: 0.2;
  &.selected {
    opacity: 0.65;
  }
  &:not(:last-child) {
    margin-right: column-gap();
  }
  .project-filterer__button {
    @include font-size();
    font-weight: bold;
    text-transform: capitalize;
  }
}
