@import '../../../styles/variables/variables';

main.project {
  line-height: 1.3;
  .project__title {
    @include font-size('x-large');
    font-weight: bold;
    padding-top: padding-vertical('large');
  }
  .project__summary {
    li {
      .summary__title::after {
        content: ' : ';
      }
    }
  }
  .project__skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
    grid-auto-rows: 2rem;
    column-gap: column-gap();
    row-gap: row-gap('small');
    .project__skill {
      display: flex;
      align-items: center;
      width: max-content;
      @include font-size();
    }
  }
  .project__features {
    list-style: decimal;
    padding-left: padding-horizontal();
    .project__feature {
      &:not(:last-child) {
        margin-bottom: row-gap('small');
      }
      .feature__descriptions {
        list-style: circle;
        padding-left: padding-horizontal('small');
        margin-top: row-gap('x-small');
        .feature__description {
          word-wrap: break-word;
        }
      }
    }
  }

  .project__pre-description-text {
    margin-bottom: row-gap('small');
  }
}

@include mobile {
  main.project {
    ul.project__summary {
      list-style: none;
      li {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: column-gap();
        }
        .summary__title {
          font-weight: bold;
          margin-bottom: 0.2rem;
          &::after {
            content: '';
          }
        }
      }
    }
  }
}
