@import '../../../styles/variables/variables';

main.project {
  line-height: 1.3;
  .project__title {
    @include font-size('x-large');
    font-weight: bold;
    padding-top: padding-vertical('large');
  }
  .project__summary {
    li {
      .summary__title::after {
        content: ' : ';
      }
    }
  }
  .project__skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
    grid-auto-rows: 2rem;
    column-gap: column-gap();
    row-gap: row-gap('small');
    .project__skill {
      display: flex;
      align-items: center;
      width: max-content;
      @include font-size();
    }
  }
  .project__features {
    list-style: decimal;
    padding-left: padding-horizontal();
    .project__feature {
      &:not(:last-child) {
        margin-bottom: row-gap('small');
      }
      .feature__descriptions {
        list-style: circle;
        padding-left: padding-horizontal('small');
        margin-top: row-gap('x-small');
        .feature__description {
          word-wrap: break-word;
        }
      }
    }
  }
  .project__images {
    .images__image-bundle {
      &:not(:last-child) {
        margin-bottom: row-gap('large');
      }
      .image-bundle__images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-auto-rows: min-content;
        column-gap: column-gap();
        row-gap: row-gap();
        .image-bundle__image {
          position: relative;
          width: 100%;
          height: auto;
          transition: all 0.4s;
          &:hover {
            border: 2.5px solid black;
            transform: scale(1.2);
            transition: all 0.5s;
            z-index: 100;
          }
        }
      }
    }
  }
  .project__takeaways {
    .project__takeaway {
      margin-bottom: row-gap('large');
      .takeaway__title {
        font-size: 1.15rem;
        margin-bottom: row-gap('x-small');
      }
    }
  }

  .project__pre-description-text {
    margin-bottom: row-gap('small');
  }

  .project__link-text {
    text-decoration: underline;
  }
}

@include mobile {
  main.project {
    ul.project__summary {
      list-style: none;
      li {
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: column-gap();
        }
        .summary__title {
          font-weight: bold;
          margin-bottom: 0.2rem;
          &::after {
            content: '';
          }
        }
      }
    }
    .project__images {
      &::before {
        content: '※ 모바일에서는 좌우 스크롤을 통해 이미지들을 확인할 수 있습니다.';
        display: block;
        margin-bottom: row-gap();
        font-weight: bold;
      }
      .images__image-bundle {
        .image-bundle__images {
          display: flex;
          overflow-x: scroll;
          .image-bundle__image:hover {
            transform: none;
            border: none;
          }
        }
      }
    }
  }
}
