.projects__project {
  background-color: white;
  aspect-ratio: 1.2 / 1;
  .card-container {
    .card-container__card--default {
      .project__thumbnail {
        width: 100%;
        object-fit: contain;
      }
    }
    .card-container__card--hidden {
      font-weight: bold;
    }
    &:hover {
      .card-container__card--default {
        opacity: 0.2;
      }
    }
  }
}
