@import '../../../styles/variables/variables';

footer.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: padding-vertical() 0;
  .footer__text {
    font-size: 0.9rem;
    opacity: $font-blur;
    line-height: 1.3rem;
  }
}
