@import '../../../styles/variables/variables';

.skill {
  margin: row-gap() 0;
  margin-bottom: 1.8rem;
  .skill__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .skill__image {
      width: 2rem;
      height: 2rem;
      margin-right: column-gap('small');
    }
    .skill__title {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
  .skill__descriptions {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: row-gap('small');
    padding-left: padding-horizontal();
    .skill__description {
      list-style-type: disc;
    }
  }
}
