//padding
$padding-vertical: 1.2rem;
$padding-vertical-small: 0.5rem;
$padding-vertical-large: 2.5rem;

$padding-horizontal: 1.2rem;
$padding-horizontal-small: 0.5rem;
$padding-horizontal-large: 3rem;

//border-radius
$border-radius: 10px;

//gap
$column-gap: 1.2rem;
$column-gap-large: 4rem;
$row-gap: 1.2rem;
$row-gap-large: 3rem;
