$mobile: 320px;
$tablet: 768px;
$desktop: 1020px;

@mixin mobile {
  @media screen and (max-width : #{$tablet - 1}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width : #{$tablet}) and (max-width : #{$desktop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width : #{$desktop}) {
    @content;
  }
}

@include desktop {
  .desktop-hidden {
    display: none !important;
  }
}

@include tablet {
  .tablet-hidden {
    display: none !important;
  }
}

@include mobile {
  .mobile-hidden {
    display: none !important;
  }
}
