@import '../../../styles/variables/variables';

.greeting {
  display: flex;
  align-items: flex-end;
  padding: padding-vertical() padding-horizontal();
  font-family: 'Lobster', cursive;
  .greeting__message {
    &.greeting__message-1 {
      font-size: 4rem;
      line-height: 4.2rem;
    }
    &.greeting__message-2 {
      font-size: 2.5rem;
      line-height: 2.7rem;
    }
  }
}

@include mobile {
  .greeting {
    flex-direction: column;
    align-items: flex-start;
    padding: padding-vertical('small') padding-horizontal('small');
    .greeting__message {
      &.greeting__message-1 {
        font-size: 3.2rem;
        line-height: 3.4rem;
        height: 3.4rem;
        margin-bottom: 1rem;
      }
      &.greeting__message-2 {
        font-size: 2rem;
        line-height: 2.2rem;
      }
    }
  }
}
