@import '../../../styles/variables/variables';

@mixin font-style($size) {
  font-size: $size;
  line-height: calc($size + 0.2rem);
}

.greeting {
  display: flex;
  align-items: flex-end;
  @extend %default-padding;
  font-family: 'Lobster', cursive;
  .greeting__message {
    &.greeting__message-1 {
      @include font-style(4rem);
    }
    &.greeting__message-2 {
      @include font-style(2.5rem);
    }
  }
}

@include mobile {
  .greeting {
    flex-direction: column;
    align-items: flex-start;
    padding: padding-vertical('small') padding-horizontal('small');
    .greeting__message {
      &.greeting__message-1 {
        @include font-style(3.2rem);
        margin-bottom: 1rem;
      }
      &.greeting__message-2 {
        @include font-style(2rem);
      }
    }
  }
}
