@import '../../../styles/variables/variables';

.section {
  width: 100%;
  max-width: 800px;
  margin-bottom: column-gap('large');
  .section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: padding-vertical('small') padding-horizontal();
    border-bottom: light-gray-border();
    @include font-size('large');
    font-family: 'Secular One', sans-serif;
  }
  .section__content {
    padding: padding-vertical('small') padding-horizontal();
  }
}
