@import './styles/reset.css';
@import './styles/variables/_variables.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

#root {
  height: 100%;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

main {
  padding: $padding-vertical-large $padding-horizontal-large;
  min-width: min-content;
}
