@import '../../../styles/variables/variables';

header.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  padding: padding-vertical() padding-horizontal();
  @include shadow();
}
